<h1>Fleet Panel</h1>
<label>Hub</label>
<input ng-model="config.hub" />
<label>Secret</label>
<input type="password" ng-model="config.secret" />
<label>App</label>
<input type="text" ng-model="config.app" />
<label>Script</label>
<input type="text" ng-model="config.script" />
<label>SEAPORT</label>
<input type="text" ng-model="config.seaport" />
<label>SHOREMAN_APP</label>
<input type="text" ng-model="config.shoreman_app" />
<label>SHOREMAN_CMD</label>
<input type="text" ng-model="config.shoreman_cmd" />

<button class="btn btn-default" ng-click="save()">Save</button>
